<h3>Create a new Resource!</h3>
{{input type="text" placeholder="Title" value=title}}
{{textarea placeholder="Description" value=description}}
{{input type="text" placeholder="Type" value=type}}
{{input type="text" placeholder="Submitter" value=submitter}}

{{select-2
    content=model
    value=selectedItems
    multiple=true
    optionLabelPath="name"
    optionDescriptionPath="false"
    placeholder="Pick Some Tags"
}}

<button {{action 'addResource' title description type submitter}} class="button submit">Submit</button>